body, .App {
  background: #f5f5f5;
  color: #222;
}

.header{
  display:flex;
  border-bottom:1px solid black;
  padding :10px 30px;
  justify-content: space-between;
  align-items: center;

}
.header img{
  width:80px;
  height:40px;
}
.links{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:20%;
}
.links a{
  text-decoration:none;
  color:black;
  font-weight:bold;
}
.active{
  color:chocolate;
  font-size:30px;
}